.votes-sections{ 
  margin-top: 20px;
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
