<!-- <app-tarjetones-view></app-tarjetones-view> -->
<!-- <app-estudiantes-view></app-estudiantes-view> -->
<!-- <app-candidatos-view-list></app-candidatos-view-list> -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="title">
      <h1>Sistema Electoral</h1>
    </div>
    <mat-divider></mat-divider>
    <div class="buttons">
      <button routerLink="tarjetones" mat-menu-item>
        Tarjetones <mat-icon>ballot</mat-icon>
      </button>
      <button routerLink="estudiantes" mat-menu-item>
        Estudiantes <mat-icon>person</mat-icon>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="candidatosMenu">
        Candidatos
        <mat-icon>personal_injury</mat-icon>
      </button>
      <button routerLink="resultados" mat-menu-item>
        Resultados <mat-icon>how_to_vote</mat-icon>
      </button>

      <button routerLink="votacion" mat-menu-item>
        Vista Previa Votación <mat-icon>how_to_vote</mat-icon>
      </button>

      <mat-menu #candidatosMenu>
        <button
          mat-menu-item
          [routerLink]="'candidatos/' + tarjeton.id"
          *ngFor="let tarjeton of tarjetones"
        >
          {{ tarjeton.title }} <mat-icon>ballot</mat-icon>
        </button>
      </mat-menu>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
