<div style="display: flex; flex-direction: column">

<app-basic-input label="Curso" [(value)]="estudiante.curso"></app-basic-input>
<app-basic-input label="Cedula" [(value)]="estudiante.cedula"></app-basic-input>
<app-basic-input label="Nombre" [(value)]="estudiante.nombre"></app-basic-input>
<app-basic-input label="Sede" [(value)]="estudiante.sede"></app-basic-input>
<app-basic-input label="Jornada" [(value)]="estudiante.jornada"></app-basic-input>
<app-basic-input label="Email" [(value)]="estudiante.email"></app-basic-input>

</div>
