.buttons{ 
  margin-top: 10px;
  margin-left: 11%; 
  display: flex;
  align-items: center; 
}

.title{ 
  display: flex;
  padding-top: 10px;
  padding-left: 21%;
}

.new-button{ 
  margin-left: 10px; 
}
