<mat-card class="example-card">
  <mat-card-header>
    <div class="card-header">
      <div class="card-header-information">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ candidato.nombre }}</mat-card-title>
      </div>
      <div class="numbers">
        <mat-card-subtitle>{{ votosCounter }} </mat-card-subtitle>
        <mat-card-subtitle
          class="percentage"
          >{{ (votosCounter / totalVotosCounter) * 100 }}%</mat-card-subtitle
        >
      </div>
    </div>
  </mat-card-header>
  <img
    *ngIf="!minimal"
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-actions class="actions" *ngIf="showCrudButtons || showVoteButton">
    <div class="crud-actions" *ngIf="showCrudButtons">
      <button
        mat-button
        color="primary"
        *ngIf="isUserLoggedAdmin"
        (click)="handleEdit()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-button
        color="warn"
        *ngIf="isUserLoggedAdmin"
        (click)="handleDelete()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <button mat-raised-button color="primary" *ngIf="showVoteButton">
      Votar
    </button>
  </mat-card-actions>
</mat-card>
